<html lang="en">
<%- include ('./partials/head.ejs') %>

<!--link to dashboard stylesheet-->
<link rel="stylesheet" href="/dashboard.css">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script> <!-- Import Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns"></script>

<!--<script src="/js/portfolioPieChart.js"></script>  -->
<script src="/js/portfolioPieChart.js"></script> <!-- Dit JS -->

<body>
  <div class="layout">
    <%- include ('./partials/nav.ejs') %>
    <div class="container">
      <div class="containerTitle with-button">
        <h1>Account: <%= account.accountName %> </h1>
        <form action="/createPortfolio" method="GET">
          <button class="createPortfolioBtn">Create portfolio</button>
        </form>
      </div>

    <div class="boxContainer">
    <div class="box valueandprice">
    <div class="box totalValue">
      <h4>Total value in <%= account.currency %></h4>
        <h4><%= totalAcquisitionPrice.toFixed(2) %> <%= account.currency %></h4>
    </div>
    <div class="box priceChange">
      <h4>price change</h4>
    </div>
    </div>
    <div class="box piechart">
      <h4>Pie chart</h4>
      <canvas id="portfolioPieChart"></canvas>
      <script src="/js/portfolioPieChart.js"></script>
    </div>
    <div class="balance">
      <h3> Balance: <%= account.balance.toFixed(2) %> <%= account.currency %> </h3>
      <div class="updateBalance">
      <form action="/account/<%= account.accountID %>/transaction" method="POST">
          <label for="amount">Select amount:</label>
          <input type="number" name="amount" id="amount" step="0.01" required />

          <label for="type">Transaction type:</label>
          <select name="type" id="type" required>
            <option value="deposit">Deposit</option>
            <option value="withdrawal">Withdraw</option>
          </select>
        <button type="submit">Update balance</button>
      </form>
    </div>
    </div>
    <div class="portfolioList">
      <h2>My portfolios</h2>
      <div class="tableContainer">
        <table>
          <thead>
            <tr>
              <th>Portfolio Name</th>
              <th>Account name</th>
              <th>Created</th>
              <th>Details</th>
            </tr>
          </thead>
          <tbody>
            <% if (portfolios.length > 0) { %>
              <% portfolios.forEach(portfolio => { %>
                <tr>
                  <td><%= portfolio.portfolioName %></td>
                  <td><%= portfolio.accountName %></td>
                  <td><%= new Date(portfolio.registrationDate).toLocaleDateString() %></td>
                  <td>
                    <a href="/portfolio/<%= portfolio.portfolioID %>/<%= account.accountID %>">View</a>
                  </td>
                </tr>
              <% }) %>
            <% } else { %>
              <p>No portfolios found.</p>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    </div>
  </div>
  </div>
  </div> 
</body>

</html>