<!--EJS file to give user an overview of all their accounts + create account-->
<html lang="en">
<%- include ('./partials/head.ejs') %>

<!--link to dashboard stylesheet-->
<link rel="stylesheet" href="dashboard.css">

<body>
  <div class="layout">
    <!--main content-->
    <%- include ('./partials/nav.ejs') %>
    <div class="container">
    <div class="containerTitle">
        <h1>Welcome to your account overview</h1> <!--gets username from database-->
    </div>
    <div class="accountContainer">
    <div class="accountBox">
      <form action="/createAccount" method="GET">
      <button class="createNewAccountBtn">Create new account</button>
      </form>
      <h2>My accounts</h2>
      <% if (accounts && accounts.length > 0) { %>
        <ul>
          <% accounts.forEach(account => { %>
            <li>

              <a href="/account/<%= account.accountID %>"><strong><%= account.accountName %></strong></a><br>
              Balance: <%= account.balance %> <%= account.currency %><br>
              Status: <%= account.accountStatus ? "Active" : "Inactive" %>
              <% if (account.accountStatus) { %>
                <div class="deactivateForm">
                <form action="/account/deactivateAccount/<%= account.accountID %>" method="POST">
                  <button type="submit">Deactivate</button>
                </form>
                </div>
                <% } %>

              <% if (!account.accountStatus && account.deactivationDate) { %>
                Deactivated on: <%= new Date(account.deactivationDate).toLocaleString() %>
              <% } %>
              <% if (!account.accountStatus) { %>
                <div class="reactivateForm">
                  <form action="/account/reactivateAccount/<%= account.accountID %>" method="POST">
                    <button type="submit">Reactivate</button>
                  </form>
                </div>
                  <% } %>
                
            </li>
          <% }); %>
        </ul>

      <% } else { %>
        <p>No accounts found.</p>
      <% } %>

    </div>
    </div>
    </div>
  </div>
</body>

</html>