<html lang="en">
<!--adds header-->
<%- include('./partials/head.ejs') %>

<!-- link to style.css-->
<link rel="stylesheet" href="style.css">

<body>
<!-- Bruger login formular -->
<div class="container"> 
    <h1><%= msg %></h1>

    <h2>Log in</h2>
    <!-- Login formular  -->
    <form action="/user/login" method="POST">
    <div class="input-group">
      <input type="text" name="username" placeholder="Username" required />
    </div>
    <div class="input-group">
      <input type="password" name="password" placeholder="Password" required />
    </div>
    <!--Tilføjer submit knap til at indsende formularen-->
      <button type="submit">Login</button>
    </form>

    <!--Link til ændring af passwordk -->
  <a href="/user/change-password" class="change-password-link">Forgot Password?</a>


    <h2>Sign up</h2>
    <!-- Opretter en signup formular. Sender POST-request til /user/signup-->
    <form action="/user/signup" method="POST">
      <div class="input-group">
        <input type="text" name="name" placeholder="Insert name" required />
      </div>
      <div class="input-group">
        <input type="text" name="username" placeholder="New username" required />
      </div>
      <div class="input-group">
        <input type="text" name="email" placeholder="E-mail" required/>
      </div>
     <!--Sikrer at der bliver tastet gyldige værdier, ellers sendes en fejlbesked-->
    <div class="input-group <%= typeof error !== 'undefined' && error ? 'error' : '' %>">
      <input
        type="password"
        name="password"
        placeholder="New password"
        required
      />
      <% if (typeof error !== 'undefined' && error) { %>
        <div class="error-message"><%= error %></div>
      <% } %>
    </div> 
      <button type="submit">Signup</button>
    </form>
    <%- include('partials/footer') %>
</div>
</body>
</html>