<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<link rel="stylesheet" href="/dashboard.css">

<body>
  <%- include('./partials/nav.ejs') %>

  <div class="container">
    <h1><%= portfolio.portfolioName %></h1>

    <div class="dashboard-box">
      <h2>Portfolio Summary</h2>
      <!-- Portfolio summary chart HER-->
    </div>


    <!--TILFØJ value distribution donut chart-->
    <div class="dashboard-box">
      <h2>Value Distribution</h2>
      <!--DONUTCHART HER-->
      <div class="total-value">
        Total Value: <%= totalRealizedValue %> <%= account.currency %>
      </div>
    </div>
  
  <div class="dashboard-box">
  <h2>Holdings</h2>
      <table>
        <thead>
          <tr>
            <th>Ticker</th>
            <th>Quantity</th>
            <th>24h Change</th>
            <th>Price</th>
            <th>GAK</th>
          </tr>
        </thead>
        <tbody>
          <% holdings.forEach(stock => { %>
            <tr>
              <td><%= stock.Ticker %></td>
              <td><%= stock.quantity %> pcs</td>
              <td class="<%= stock.dailyChange >= 0 ? 'positive' : 'negative' %>">
                <%= stock.dailyChange ? stock.dailyChange.toFixed(2) : "N/A" %> </td>
              <td><%= stock.currentPrice ? stock.currentPrice.toFixed(2) + ' ' + account.currency : 'N/A' %></td>
              <td><%= stock.gak ? stock.gak.toFixed(2) : 'N/A' %></td>
            </tr>
          <% }) %>
        </tbody>
      </table>

  
    <a href="/account/<%= account.accountID %>" class="btn">← Back to my portfolios</a>
    <a href="/transactions/<%= portfolio.accountID %>" class="btn">View Transactions</a>
    <a href="/trade/<%=portfolio.portfolioID%>/<%=account.accountID%>" class="btn">Trade Stock</a>
  </div>
</div>
</body>
</html>