<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/style.css">
  <title>Stocks</title>
</head>
<body>
  <div class="stock-layout"> <!-- Flex container med både nav og indhold -->
  <%- include('./partials/nav.ejs') %>

  <div class="stock-list">
    <h1>Stock Overview</h1>
    <table>
      <thead>
        <tr>
          <th>Portfolio ID</th>
          <th>Ticker</th>
          <th>Date</th>
          <th>Price</th>
          <th>24h Change</th>
        </tr>
      </thead>
      <tbody>
        <% stocks.forEach(stock => { %>
          <tr>
            <td><%= stock.portfolioID %></td>
            <td><%= stock.ticker %></td>
            <td>
              <% if (stock.latestDate) { %>
                <%= new Date(stock.latestDate).toISOString().slice(0, 10) %>
              <% } else { %>
                Ikke tilgængelig
              <% } %>
            </td>            
            <td><%= stock.closePrice %> <%= stock.stockCurrency %></td>
            <td><%= stock.dailyChange %>%</td>
          </tr>
          
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>