<!DOCTYPE html>
<html>
<head>
  <%- include('./partials/head.ejs') %>
  <link rel="stylesheet" href="/style.css">
  <title>Stocks</title>
</head>
<body>
  <%- include('./partials/nav.ejs') %>

  <div style="max-width: 1000px; margin: auto; padding: 20px;">
    <h1>Stock Overview</h1>
    <table>
      <thead>
        <tr>
          <th>Ticker</th>
          <th>Date</th>
          <th>Price</th>
          <th>24h Change</th>
        </tr>
      </thead>
      <tbody>
        <% stocks.forEach(stock => { %>
          <tr>
            <td><%= stock.Ticker %></td>
            <td><%= new Date(stock.latestDate).toISOString().slice(0, 10) %></td>
            <td><%= stock.ClosePrice %> <%= stock.stockCurrency %></td>
            <td><%= stock.dailyChange %>%</td>
          </tr>
          
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>