<!DOCTYPE html>
<html>
<head>
    <title>Transactions</title>
</head>
<body>
    <h1>Transactions</h1>
    <table>
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Account ID</th>
                <th>Trade ID</th>
                <th>Amount</th>
                <th>Transaction Date</th>
                <th>Stock ID</th>
                <th>Trade Type</th>
            </tr>
        </thead>
        <tbody>
            <% transactions.forEach(transaction => { %>
                <tr>
                    <td><%= transaction.transactionID %></td>
                    <td><%= transaction.accountID %></td>
                    <td><%= transaction.tradeID %></td>
                    <td><%= transaction.amount %></td>
                    <td><%= transaction.transactionDate %></td>
                    <td><%= transaction.stockID %></td>
                    <td><%= transaction.tradeType %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
</body>
</html>