<!--EJS file to give user an overview of all their accounts + create account-->
<html lang="en">
<%- include ('./partials/head.ejs') %>

<!--link to dashboard stylesheet-->
<link rel="stylesheet" href="dashboard.css">

<body>
  
    <!--main content-->
    <%- include ('./partials/nav.ejs') %>
    <div class="container">
    <div class="containerTitle">
        <h1>Create new portfolio</h1> <!--gets username from database-->
    </div>
        <div class="portfolioForm">
            <form action="/createPortfolio" method="POST">
                <div class="createPortfolios">
                    <label for="accountName">Select Account:</label>
                    <select name="accountID" id="accountID" required>
                        <% if (accounts && accounts.length > 0) { %>
                            <% accounts.forEach(account => { %>
                              <option value="<%= account.accountID %>"><%= account.accountName %> - Balance: <%= account.balance %> <%= account.currency %></option>
                            <% }); %>
                        <% } else { %>
                        <option value="">No accounts available</option>
                        <% } %>
                </select>
                  <input type="text" name="portfolioName" placeholder="Portfolio name" required />
                  <button type="submit">Create portfolio</button>
                </form>
        </div>
    </div>
</body>

</html>